.thead {
  border-bottom: 3px solid #32383e;
  font-weight: bold;
}

.bt {
  border-top: 1px solid #32383e;
}

.filaNoticias {
  background-color: #212529;
  margin: 0 .02em;
  color: white;
}

.filaNoticias a {
  color: white !important;
  display: flex;
  align-items: center;
  height: 100%;
}

.filaNoticias a:hover {
  color: red;
  background-color: rgba(255, 255, 255, .05);
  text-decoration: none;
}

#alertas {
  position: fixed;
  bottom: 0%;
  left: 50%;
  width: 50%;
  padding: 0 1em;
  z-index: 9999;
}

.modal-dialog {
  margin-top: 15%;
}